/* Chats */
.chats {
  padding: 6rem 12rem 0rem;
}

.chat {
  padding-top: 4rem;
}

.other_user {
  display: flex;
  width: 60%;
  margin: 0.5rem 0rem;
}

.chat_body {
  background-color: #004d40;
  color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1rem;
  border-radius: 0rem 1rem 1rem 1rem;
}

.user_body {
  background-color: #fff;
  color: #004d40;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1rem;
  border-radius: 1rem 0rem 1rem 1rem;
}

.current_user {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.5rem 0rem;
  padding-left: 40%;
}

.chat_user_image {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
}

.chat_user_image img {
  width: 100%;
  height: 100%;
}

.chat_header {
  padding: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  align-items: center;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: #fff;
}

.chat_header h3 {
  margin: 0rem;
}

.chat_input {
  position: fixed;
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10%;
  padding: 0.5rem 8rem;
}

.chat_input input {
  border: #004d40 1px solid;
  border-radius: 5rem;
  padding: 0rem 1rem;
  outline: #004d40;
}

.chat_input button {
  align-items: center;
  appearance: none;
  background-color: var(--text);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: larger;
  font-weight: bolder;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  margin: 0rem 0.5rem;
  max-width: 100%;
  overflow: visible;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 40%; */
  will-change: transform, opacity;
  z-index: 0;
}

.friend_image img {
  width: 100%;
  height: 100%;
}

.friend_image {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 0.3rem;
}

.friend h5 {
  text-transform: capitalize;
  margin: 0px;
}

.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .chats {
    padding: 5rem 1rem 0rem;
  }

  .other_user {
    display: flex;
    width: 90%;
    margin: 1rem 0rem;
    font-size: small;
  }

  .chat_body {
    background-color: #004d40;
    color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.5rem;
    border-radius: 0rem 1rem 1rem 1rem;
  }

  .user_body {
    background-color: #fff;
    color: #004d40;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.5rem;
    border-radius: 1rem 0rem 1rem 1rem;
  }

  .current_user {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem 0rem;
    padding-left: 10%;
    font-size: small;
  }

  .chat_user_image {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #004d40;
  }

  .chat_header {
    padding: 0rem 0rem 0.2rem 0rem;
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  .chat_header h3 {
    margin: 0rem;
  }

  .chat_input {
    position: fixed;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0.5rem;
  }

  .chat_input input {
    border: #004d40 1px solid;
    border-radius: 5rem;
    padding: 0rem 1rem;
    outline: #004d40;
  }

  .chat_input button {
    align-items: center;
    appearance: none;
    background-color: var(--text);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: larger;
    font-weight: bolder;
    height: 48px;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    margin: 0rem 0rem;
    max-width: 100%;
    overflow: visible;
    padding: 2px 20px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: 40%; */
    will-change: transform, opacity;
    z-index: 0;
  }
}
